.outter {
    padding: 1rem;
    background-color: rgba(31, 31, 31);
    margin: 2rem auto;
    width: 25rem;
    max-width: 50%;
  }
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }  


  #calculator-wrapper {
    width: 400px;
    height: 560px;
    flex-wrap: wrap;
    margin: 1rem auto;
    position: relative;
    border: 20px solid #1c191c;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #aaa;
    background-color: rgba(57, 49, 49, 0.756);
    
  }